html{
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit-Regular'),
    url('../fonts/Outfit-Regular-2d3908397ba4c2935ffcab7a7298b0f7.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit-Bold'),
    url('../fonts/Outfit-Bold-d494a60613d2ed5611a37c36b5663fe9.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit-SemiBold'),
    url('../fonts/Outfit-SemiBold-96ab0b8ca370a784a820c2765775418d.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit-Light'),
    url('../fonts/Outfit-Light-28757c4dde135c4667ea15fad6ea5495.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit-Medium'),
    url('../fonts/Outfit-Medium-17804fe22742204c6a789d8d79c00f39.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}

@keyframes marquee-right {
    0% { 
        transform: translateX(-100%); 
    }
    100% { 
        transform: translateX(100%); 
    }
}

@keyframes marquee-left{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
}

:root{
    --loading: url(../public/loading.svg);
    --greyscale-00: #000000;
    --greyscale-01: #181818;
    --greyscale-02: #444444;
    --greyscale-03: #B9B9B9;
    --greyscale-04: #CFCFCF;
    --greyscale-05: #E4E4E4;
    --greyscale-06: #F5F5F5;
    --greyscale-07: #FFFFFF;
    --primary-00: #7B31D4;
    --primary-01: #954CED;
    --primary-02: #A64CED;
    --primary-03: #BA8BF3;
    --primary-04: #954CED33;
    --secondary-01: #2FDBBC;
    --secondary-02: #FFAA4C;
    --secondary-03: #C1DB2F;
    --additional-01: #FF6C2D;
    --additional-02: #EC1211;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.none{
    display: none !important;
}

.input-reset{
    all: unset;
}

.btn-reset{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link-reset{
    color: inherit;
    text-decoration: none;
}

.fixed{
    position: fixed;
}

.body{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    background-color: var(--greyscale-01);
    color: var(--greyscale-07);
    overflow-x: hidden;
}

.section{
    overflow: hidden;
}

.section:not(:last-child){
    margin-bottom: 100px;
}

.container{
    margin: 0 auto;
    padding: 0 60px;
    max-width: 1440px;
    width: 100%;
}

.thank-you__modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.thank-you__modal button{
    width: 100%;
}

.thank-you__header{
    font-weight: 600;
    font-size: 36px;
    line-height: 45.36px;
    color: var(--primary-02);
}

.thank-you__text{
    font-size: 24px;
    line-height: 28.8px;
    max-width: 345px;
    color: var(--greyscale-02)
}

.modal-backdrop{
    position: fixed;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.modal{
    position: fixed;
    padding: 40px;
    background-color: var(--greyscale-07);
    border-radius: 20px;
    z-index: 10000;
    left: 50%;
    top: 56px;
    transform: translate(-50%);
}

.modal__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 337px;
}

.close-modal{
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.modal__input-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 337px;
    width: 100%;
}

.modal_label{
    display: flex;
    flex-direction: column;
}

.label__text{
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #070707;
}

.fill-in-text{
    font-size: 16px;
    line-height: 20.16px;
    color: var(--additional-02);
}

.disabled{
    color: #A7A7A7;
}

.invalid{
    border: 1px solid var(--additional-02) !important;
}

.required-star{
    color: var(--additional-01) !important;
}

.modal__input{
    border: 1px solid #F1F1F1;
    border-radius: 14px;
    padding: 10px 16px;
    cursor: text;
}

.modal__input[type='text']{
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: var(--greyscale-00);
}

.modal__input[type='tel']{
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: var(--greyscale-00);
}

.modal__input[type='email']{
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: var(--greyscale-00);
}

.modal__input[type='url']{
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: var(--greyscale-00);
}

.modal__input:active{
    border: 1px solid #A7A7A7;
}

.modal__input:focus{
    border: 1px solid #A7A7A7;
}

.modal__input:focus::placeholder{
    opacity: 0;
}

#phone{
    padding-left: 48px;
    background-image: url(../public/russia.svg);
    background-repeat: no-repeat;
    background-position: 16px 12px;
}

.modal__input::placeholder{
    font-size: 14px;
    line-height: 22px;
    color: #A7A7A7;
}

.invalid-text{
    font-size: 12px;
    line-height: 20px;
    color: var(--additional-02);
}

.terms__text{
    color: var(--greyscale-00);
    font-weight: 300;
    font-size: 14px;
    line-height: 19.6px;
}

.modal__btn{
    width: fit-content;
}

.terms__link{
    color: var(--primary-01);
    text-decoration: underline;
}

.cookie-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
    margin: 0 auto;
    max-width: 1285px;
    width: 100%;
    background-color: var(--greyscale-07);
    border-radius: 16px;
    z-index: 100;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.cookie__text{
    max-width: 783px;
    width: 100%;
    color: #383838;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
}

.cookie-btn__block{
    margin-right: 30px;
}

.cookie__btn:not(:last-child){
    margin-right: 30px;
}

.cookie__btn{
    overflow: hidden;
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 25.2px;
    padding: 16px 30px;
    border-radius: 16px;
    will-change: transform;
    transition: background-color .5s ease, border-color .3s ease, color .3s ease, fill .3s ease, transform .3s ease-in-out;
    z-index: 0;
}

.cookie__btn:hover{
    transform: scale(1.1);
}

.accept{
    border: 2px solid var(--primary-01);
    background-color: var(--primary-01);
    color: var(--greyscale-07);
}

.cookie__btn::after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%) rotate(10deg);
    transform-origin: top left;
    transition: transform .3s ease-in-out;
    will-change: transform;
    z-index: -1;
    border-radius: 16px;
    background-color: var(--greyscale-01);
}

.cookie__btn:hover::after{
    transform: translateX(0%);
}

.decline{
    border: 2px solid var(--primary-01);
}

.decline:hover{
    color: var(--greyscale-07);
    background-color: var(--greyscale-01);
}

.close-cookie{
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    z-index: -1;
}

.choose-page__block{
    height: 38px;
    background-color: var(--secondary-02);
}

.choose-page__link-block{
    display: flex;
}

.choose-page__link{
    padding: 9px 40px;
}

.choose-page__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 20.16px;
    white-space: nowrap;
}

.choose-business-link{
    border-radius: 20px 20px 0px 0px;
    color: var(--greyscale-07);
    background-color: var(--greyscale-01);
}

.header{
    width: 100%;
    background-color: var(--greyscale-01);
    z-index: 100;
}

.header-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 7px 60px;
}

.contact-sales-btn{
    position: relative;
    overflow: hidden;
    padding: 16px 30px;
    background-color: var(--primary-01);
    border-radius: 16px;
    border: 2px solid var(--primary-01);
    will-change: transform;
    transition: background-color .3s ease, border-color .3s ease, color .3s ease, fill .3s ease, transform .3s ease-in-out;
    z-index: 0;
    white-space: nowrap;
}

.btn-loading .contact-sales-btn__text{
    visibility: hidden;
    opacity: 0;
}

.btn-loading::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--loading);
    margin: auto;
    animation: rotating 2s 0.25s linear infinite;
    z-index: 1;
}

.contact-sales-btn:hover:enabled{
    transform: scale(1.1);
}

.contact-sales-btn:focus{
    outline: 0;
    border: 4px solid var(--primary-03);
}

.contact-sales-btn:active{
    background-color: var(--primary-00);
    border: none;
    transform: scale(1.1);
}

.contact-sales-btn:target{
    background-color: var(--primary-00);
    border: none;
    transform: scale(1.1);
}

.contact-sales-btn:disabled{
    background-color: var(--greyscale-03);
    border: none;
}

.contact-sales-btn > *{
    z-index: 1;
}

.contact-sales-btn::after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%) rotate(10deg);
    transform-origin: top left;
    transition: background-color .3s ease, border-color .3s ease, color .3s ease, fill .3s ease, transform .3s ease-in-out;
    will-change: transform;
    z-index: -1;
    border-radius: 16px;
    background-color: var(--greyscale-01);
}

.contact-sales-btn:hover::after{
    transform: translateX(0%);
}

.contact-sales-btn:disabled::after{
    background-color: var(--greyscale-03);
}

.contact-sales-btn__text{
    color: var(--greyscale-07);
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 20px;
    line-height: 25.2px;
}

.banner{
    position: relative;
    padding: 82px 0 0 110px;
    height: 591px;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.banner__woman{
    position: absolute;
    bottom: 6.23px;
    right: 28.84px;
    z-index: -1;
}

.banner__figure{
    position: absolute;
    width: 2000px;
    left: 820px;
    top: -20px;
    z-index: -2;
}

.banner__content{
    z-index: 2;
}

.banner__header{
    font-weight: 700;
    font-size: 96px;
    line-height: 101.76px;
    color: var(--greyscale-07);
    max-width: 673px;
    font-feature-settings: 'liga' off;
    margin-bottom: 20px;
}

.banner__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--greyscale-07);
    max-width: 534px;
    margin-bottom: 40px;
}

.about-block{
    position: relative;
}

.about-figure__block{
    position: absolute;
    bottom: -175px;
    right: 1100px;
}

.about-content{
    display: flex;
}

.about-block__header{
    font-weight: 700;
    font-size: 96px;
    line-height: 101.76px;
    color: var(--greyscale-07);
    margin-bottom: 80px;
}

.about-block__text-block{
    max-width: 410px;
    margin-right: 118px;
}

.about-block__text{
    font-size: 36px;
    font-weight: 600;
    line-height: 45.36px;
}

.about-block__list{
    display: flex;
    flex-wrap: wrap;
}

.about-block__item{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-block__item:nth-child(1){
    margin-right: 70px;
    margin-bottom: 92px;
    max-width: 321px;
}

.about-block__item:nth-child(2){
    margin-bottom: 70px;
    max-width: 301px;
}

.about-block__item:nth-child(3){
    margin-right: 85px;
    max-width: 319px;
}

.about-block__item:nth-child(4){
    max-width: 336.01px;
}

.about-block__item-svg{
    margin-bottom: 10px;
}

.about-block__item-header{
    font-size: 48px;
    font-weight: 700;
    line-height: 50.88px;
    margin-bottom: 20px;
}

.about-block__item-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
}

.how-works-block{
    position: relative;
    margin: 0 auto;
}

.animation-wrapper{
    display: flex;
    width: 100%;
}

.animation-wrapper:not(:last-child){
    margin-bottom: 68px;
}

.how-works__list-block{
    padding: 46px 0;
    overflow: hidden;
}

.how-works-block__list{
    white-space: nowrap;
    width: 100%;
    font-weight: 700;
    font-size: 128px;
    line-height: 135.68px;
    text-shadow: 1px 1px 0 var(--greyscale-02),
    -1px -1px 0 var(--greyscale-02),
    1px -1px 0 var(--greyscale-02),
    -1px 1px 0 var(--greyscale-02),
    1px 1px 0 var(--greyscale-02);
    color: var(--greyscale-01);
}

.animation-wrapper:nth-child(1) > .how-works-block__list{
    animation: marquee-right 8s linear infinite;
}

.animation-wrapper:nth-child(2) > .how-works-block__list{
    animation: marquee-left 7s linear infinite;
}

.animation-wrapper:nth-child(3) > .how-works-block__list{
    animation: marquee-right 9s linear infinite;
}

.how-works__phone-block{
    position: absolute;
    top: 6px;
    left: 50%;
    width: 308px;
    height: 623px;
    transform: translateX(-50%);
    z-index: 2;
}

.how-works__img{
    width: 100%;
}

.phone-video__block{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 308px;
    height: 604px;
    border-radius: 60px;
    z-index: -1;
}

.phone-video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 308px;
    height: 604px;
    border-radius: 60px;
    z-index: -1;
}

.how-works-block__item{
    white-space: nowrap;
    font-weight: 700;
    font-size: 128px;
    line-height: 135.68px;
}

.turquoise-text{
    color: var(--secondary-01);
}

.transparent-text{
    text-shadow: 1px 1px 0 var(--greyscale-02),
    -1px -1px 0 var(--greyscale-02),
    1px -1px 0 var(--greyscale-02),
    -1px 1px 0 var(--greyscale-02),
    1px 1px 0 var(--greyscale-02);
    color: var(--greyscale-01);
}

.purple-text{
    color: var(--primary-02);
}

.orange-text{
    color: var(--secondary-02);
}

.purple-block{
    display: flex;
    background-color: var(--primary-01);
    padding: 40px 0;
    margin-bottom: 100px;
}

.percentage-block__list{
    display: flex;
    margin: 0 auto;
    gap: 100px;
}

.percentage-block__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.percentage{
    font-weight: 700;
    font-size: 64px;
    line-height: 67.84px;
    margin-bottom: 16px;
}

.percentage__text{
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
}

.percentage-block__item:nth-child(1) > .percentage__text{
    max-width: 217px;
}

.percentage-block__item:nth-child(2) > .percentage__text{
    max-width: 163px;
}

.percentage-block__item:nth-child(3) > .percentage__text{
    max-width: 161px;
}

.why-budss-block{
    display: flex;
    flex-direction: column;
}

.why-budss-smallblock{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.why-budss-block__header{
    font-weight: 700;
    font-size: 64px;
    line-height: 67.84px;
    margin-bottom: 20px;
}

.why-budss-block__text{
    font-weight: 600;
    font-size: 36px;
    line-height: 45.36px;
    max-width: 664px;
    text-align: center;
}

.why-budss-articles{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.why-budss-articles__line{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.articles-blocks{
    display: flex;
    position: relative;
    background-color: var(--greyscale-06);
    color: var(--greyscale-00);
    border-radius: 30px;
    width: 100%;
    overflow: hidden;
    height: 362px;
}

.why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(1){
    padding: 36px 40px 62px;
    max-width: 733px;
    justify-content: flex-end;
}

.why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(2){
    padding: 40px 91px 86px 40px;
    max-width: 547px;
}

.why-budss-articles__line:nth-child(2) > .articles-blocks:nth-child(1){
    padding: 36px 0 62px 40px;
    max-width: 547px;
}

.why-budss-articles__line:nth-child(2) > .articles-blocks:nth-child(2){
    padding: 40px 0 86px 40px;
    max-width: 733px;
}

.article-picture{
    position: absolute;
    top: 0;
    left: 0;
}

.article-img{
    position: absolute;
}

.why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(1) .article-img-block > .article-img{
    bottom: 0;
    left: 0;
}

.why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(2) .article-img-block > .article-img:nth-child(1){
    bottom: 0;
    left: 72px;
}

.why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(2) .article-img-block > .article-img:nth-child(2){
    bottom: 0;
    right: 60px;
}

.why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(2) .article-img-block > .article-img:nth-child(3){
    right: 0;
    top: 80px;
}

.why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(1) .article-img-block > .article-img{
    left: 0;
    bottom: 0;
    border-radius: 30px 0 0 30px;
}

.why-budss-articles__line:nth-child(2) > .articles-blocks:nth-child(1) .article-img-block > .article-img{
    right: 0;
    bottom: 0;
    border-radius: 0 0 30px 0;
}

.why-budss-articles__line:nth-child(2) > .articles-blocks:nth-child(2) .article-img-block > .article-img{
    right: 43px;
    bottom: 0;
}

.why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(1) > .article-text-block {
    width: 100%;
    max-width: 364px;
}

.why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(1) > .article-text-block > .article__text{
    width: 100%;
    max-width: 334px;
}

.why-budss-articles__line:nth-child(2) > .articles-blocks:nth-child(1) > .article-text-block > .article__text{
    width: 100%;
    max-width: 308px;
}

.why-budss-articles__line:nth-child(2) > .articles-blocks:nth-child(2) > .article-text-block > .article__text{
    width: 100%;
    max-width: 402px;
}

.article__header{
    font-weight: 600;
    font-size: 48px;
    line-height: 60.48px;
    margin-bottom: 20px;
}

.why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(2) > .article-text-block > .article__header {
    width: 100%;
    max-width: 416px;
}

.why-budss-articles__line:nth-child(2) > .articles-blocks:nth-child(1) > .article-text-block > .article__header {
    width: 100%;
    max-width: 440px;
}

.why-budss-articles__line:nth-child(2) > .articles-blocks:nth-child(2) > .article-text-block > .article__header {
    width: 100%;
    max-width: 395px;
}

.article__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.white-block{
    background-color: var(--greyscale-06);
    padding-top: 100px;
    padding-bottom: 100px;
}

.buisiness-grow-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--greyscale-04);
    border-radius: 60px;
    padding: 60px 0;
    margin-bottom: 100px;
}

.buisiness-grow-header{
    color: var(--greyscale-00);
    font-weight: 700;
    font-size: 64px;
    line-height: 67.84px;
    margin-bottom: 40px;
}

.your-brands-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: var(--greyscale-00);
    margin-bottom: 100px;
    max-width: 1440px;
    width: 100%;
}

.your-brands-block{
    max-width: 822px;
    margin-right: 33px;
}

.your-brands-header{
    font-weight: 700;
    font-size: 96px;
    line-height: 101.76px;
    margin-bottom: 20px;
}

.your-brands-text{
    width: 100%;
    max-width: 537px;
    font-size: 20px;
    line-height: 24px;
}

.contacts-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}

.contacts-icon-line{
    display: flex;
}

.contacts-icon-line:nth-child(2){
    padding-left: 130px;
}

.contacts-icon-line > .contacts-icon:nth-child(1){
    margin-right: 170px;
}

.brands__line{
    display: flex;
    justify-content: center;
}

.brands__list{
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.footer{
    padding-top: 40px;
}

.footer-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.footer-for-links{
    white-space: nowrap;
}

.footer-for-links:not(:last-child){
    margin-right: 40px;
}

.footer-btn-block{
    display: flex;
    flex-direction: row;
}

.footer-btn{
    margin-right: 40px;
}

.store-link:not(:last-child){
    margin-right: 20px;
}

.footer-bottom{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    border-top: 2px solid var(--greyscale-02);
    justify-content: space-between;
    padding-bottom: 21px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19.6px;
    color: var(--greyscale-03);
}

.documents-link-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.documents-item{
    text-decoration: underline;
}

.highlighted-text-about{
    position: relative;
    white-space: nowrap;
}

.highlighted-text-about::before{
    content: '';
    position: absolute;
    width: 353.39px;
    height: 34.44px;
    background-color: var(--primary-02);
    border-radius: 30px;
    z-index: -1;
    transform: rotate(-1.69deg) translate(-10px, 10.44px);
}

.highlighted-text-why{
    position: relative;
    white-space: nowrap;
}

.highlighted-text-why::before{
    content: '';
    position: absolute;
    top: 11.81px;
    left: -7px;
    width: 386.48px;
    height: 34.44px;
    background-color: var(--primary-02);
    border-radius: 30px;
    z-index: -1;
    transform: rotate(-1.63deg);
}

.mobile-list-block{
    display: none;
}

#toggle{
    display: none;
}

.burger-menu{
    display: none;
}

@media(max-width: 475px){
    .cookie-block{
        flex-direction: column;
        padding: 30px 20px;
        max-width: 335px;
        gap: 40px;
        bottom: 20px;
    }

    .cookie-btn__block{
        width: 100%;
        margin: 0;
    }

    .cookie__btn:not(:last-child){
        margin-bottom: 30px;
    }

    .cookie__btn{
        width: 100%;
    }

    .modal{
        padding: 20px 16px;
    }

    .modal__btn{
        width: 100%;
    }

    .burger-menu{
        display: block;
    }

    .header-block{
        position: relative;
    }

    .hamburger {
        display: flex;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        top: 7.5px;
        right: 16px;
        padding: 10px 8px;
        z-index: 5;
        height: 40px;
        width: 40px;
    }

    .hamburger div {
        position: relative;
        /* display: flex;
        justify-content: space-between; */
        width: 24px;
        height: 2px;
        border-radius: 8px;
        background-color: var(--greyscale-07);
        transition: all 0.3s ease-in-out;
    }

    #toggle:checked + .hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 10px;
    }

    #toggle:checked + .hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
    }

    #toggle:checked + .hamburger .meat {
        transform: rotate(45deg);
        margin-top: -8px;
    }
      
    #toggle:checked + .hamburger + .nav {
        top: 0;
        transform: scale(1);
    }

    .nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 16px;
        width: 100%;
        height: 100%;
        background-color: var(--greyscale-01);
        top: -100%; left: 0; right: 0; bottom: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
        z-index: 4;
    }

    .mobile-btn{
        color: var(--greyscale-07);
    }

    .section:not(:last-child){
        margin-bottom: 40px;
    }

    .container{
        padding: 0;
        padding-left: 16px;
        max-width: 375px;
        width: 100%;
    }

    .header__btn{
        display: none;
    }

    .choose-page__link-block{
        padding-left: 0;
        margin: 0;
    }

    .banner{
        padding: 51px 16px 0 16px;
        height: 718px;
    }

    .banner__header{
        font-size: 40px;
        line-height: 42.4px;
    }

    .banner__btn{
        max-width: 100%;
        width: 100%;
    }

    .banner__text{
        font-size: 16px;
        line-height: 20.16px;
    }

    .banner__woman{
        bottom: 0;
        left: 50px;
    }

    .woman-img{
        height: 289.89px;
    }

    .banner__figure{
        top: 414px;
        left: 0px;
        height: 400px;
    }

    .figure-img{
        height: 380px;
    }

    .about-block__header{
        font-size: 40px;
        line-height: 42.4px;
        margin-bottom: 30px;
    }

    .about-content{
        flex-direction: column;
    }

    .about-block__text-block{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .about-block__text{
        font-size: 24px;
        line-height: 28.8px;
        max-width: 273px;
    }

    .highlighted-text-about::before{
        width: 233.93px;
        height: 22.19px;
        right: -15px;
        top: -4.3px;
    }

    .about-block__list{
        gap: 60px;
    }

    .about-block__item:nth-child(n){
        margin: 0;
    }

    .about-block__item-header{
        line-height: 33.92px;
        font-size: 32px;
        margin-bottom: 16px;
    }

    .about-block__item-text{
        font-size: 16px;
        line-height: 20.16px;
    }

    .how-works__phone-block{
        top: 40px;
        width:228px;
        height: 461px;
    }

    .how-work__img{
        width:228px;
    }

    .phone-video__block{
        width: 213.19px;
        height: 446.38px;
    }

    .phone-video{
        width: 213.19px;
        height: 446.38px;
        border-radius: 36.27px;
    }

    .how-works__list-block{
        padding: 100px 0;
    }

    .animation-wrapper:not(:last-child) {
        margin-bottom: 92px;
    }

    .how-works-block__list{
        font-size: 48px;
        line-height: 50.88px;
    }

    .percentage-block__list{
        flex-direction: column;
        gap: 40px;
    }

    .percentage-block__item{
        flex-direction: row;
        align-items: center;
    }

    .percentage{
        margin: 0;
        margin-right: 20px;
        font-size: 40px;
        line-height: 42.4px;
    }

    .percentage__text{
        font-size: 20px;
        line-height: 25.2px;
    }

    .percentage-block__item:nth-child(n) > .percentage__text{
        max-width: 100%;
    }

    .why-budss-block__header{
        font-size: 40px;
        line-height: 42.4px;
    }

    .why-budss-block__text{
        font-size: 24px;
        line-height: 28.8px;
        max-width: 351px;
        width: 100%;
    }

    .highlighted-text-why::before{
        width: 243.67px;
        height: 21.71px;
        top: 7.44px;
        left: -0.15px;
    }

    .why-budss-articles__line{
        flex-direction: column;
    }

    .article__header{
        font-weight: 700;
        font-size: 32px;
        line-height: 33.92px;
    }

    .article__text{
        font-size: 16px;
        line-height: 20.16px;
    }

    .why-budss-articles__line:nth-child(n) > .articles-blocks:nth-child(n){
        justify-content: flex-start;
        padding: 20px 20px 0 20px;
        max-width: 343px;
    }

    .why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(1){
        height: 362px;
    }

    .why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(2){
        height: 333px;
    }

    .why-budss-articles__line:nth-child(2) > .articles-blocks:nth-child(1){
        height: 313px;
    }

    .why-budss-articles__line:nth-child(2) > .articles-blocks:nth-child(2){
        height: 395px;
    }

    .why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(2) .article-img-block > .article-img:nth-child(1){
        bottom: 0;
        left: 10px;
    }
    
    .why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(2) .article-img-block > .article-img:nth-child(2){
        bottom: 0;
        left: 135px;
    }
    
    .why-budss-articles__line:nth-child(1) > .articles-blocks:nth-child(2) .article-img-block > .article-img:nth-child(3){
        right: 0;
        top: 201px;
        height: 116px;
    }

    .why-budss-articles__line:nth-child(2) > .articles-blocks:nth-child(2) .article-img-block > .article-img{
        height: 185px;
    }

    .article-picture{
        position: absolute;
        bottom: 0;
        top: 169px;
    }

    .why-budss-articles__line:nth-child(2) > .articles-blocks:nth-child(2) > .article-text-block > .article__header {
        width: 100%;
        max-width: 303px;
    }

    .why-budss-articles__line:nth-child(2) > .articles-blocks:nth-child(2) > .article-text-block > .article__text{
        width: 100%;
        max-width: 279px;
    }

    .white-block{
        padding: 40px 0;
    }

    .buisiness-grow-block{
        padding: 40px 20px;
    }

    .buisiness-grow-header{
        max-width: 303px;
        font-size: 40px;
        line-height: 42.4px;
        text-align: center;
    }

    .buisiness-grow-btn{
        max-width: 100%;
        width: 100%;
    }

    .your-brands-container{
        flex-direction: column;
    }

    .your-brands-block{
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contacts-icon-line > .contacts-icon:nth-child(1) {
        margin-right: 120.7px;
    }

    .contacts-icon-line:nth-child(2) {
        padding-left: 92.08px;
    }

    .your-brands-header{
        font-size: 40px;
        line-height: 42.4px;
        max-width: 355px;
    }

    .contacts-icon{
        height: 64px;
        width: 64px;
    }

    .brands__list{
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        row-gap: 30px;
        column-gap: 40px;
        padding-left: 20px;
    }

    .brands__item:nth-child(1){
        order: 3;
    }

    .brands__item:nth-child(4){
        order: 4;
    }

    .brands__item:nth-child(5){
        order: 5;
    }

    .brands__item:nth-child(2){
        order: 2;
    }

    .brands__item:nth-child(3){
        order: 1;
    }

    .brands__item:nth-child(1) > .brands__link .brands__img{
        width: 91px;
    }

    .brands__item:nth-child(2) > .brands__link .brands__img{
        width: 149px;
    }

    .brands__item:nth-child(3) > .brands__link .brands__img{
        width: 131px;
    }

    .brands__item:nth-child(4) > .brands__link .brands__img{
        width: 196px;
    }

    .brands__item:nth-child(5) > .brands__link .brands__img{
        width: 128px;
    }

    .footer{
        padding-top: 20px;
    }

    .footer-top{
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-link-logo{
        margin-bottom: 40px;
    }

    .footer-btn{
        margin-right: 0;
        margin-bottom: 40px;
        width: fit-content
    }

    .footer-for-links-block{
        display: none;
    }

    .store-link:not(:last-child){
        margin-bottom: 20px;
        margin-right: 0;
    }

    .store-link:not(:last-child) .store-img{
        margin-bottom: 20px;
    }

    .footer-btn-block{
        flex-direction: column;
    }

    .documents-link-list{
        display: none;
    }

    .mobile-list-block{
        display: block;
        font-weight: 500;
        font-size: 20px;
        line-height: 25.2px;
        margin-bottom: 40px;
    }

    .mobile-link-list{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}